.link__container{
  box-sizing: border-box;
  display: grid;
  grid-template: 70px 300px 150px / 1fr;
  width: 100%;
  height: 100%;
  min-height: 300px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.link__title{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-left: 4px;
  padding-right: 1px;
  width: 100%;
}

.link__title h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 240px;
}

.likes__container{
  height: 50px;
  width: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heart{
  height: 40px;
  width: 40px;
  filter: grayscale(100%);
}

.heart--liked{
  filter: none;
}

.link__image{
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.link__image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.link__description{
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  text-overflow: ellipsis;
  overflow-y: auto;
  padding: 5px;
}
